@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #e5d0cc;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    max-width: 100%;
}

.rec1, .rec2, .rec3, .rec4 {
    display: grid;
    background-color: #3a0842;
    align-content: center;
    padding: 15px;
    justify-content: center;
    margin: 10px;
    color: #e5d0cc;
    max-width: 100%;
}

h1 {
    color: #3a0842;
    font-size: 75px;
    padding: 7px;
    font-size: 7em;
    margin: 20px;
}

h2 {
    color: #3a0842;
}

h3 {
    color: #fed766;
}

p {
    color: #e5d0cc;
}

table {
    display: table;
    border-collapse: collapse;
    color: #e5d0cc;
}

a {
    color: #e5d0cc;
}

a:hover {
    color: #fed766;
}

.cont {
    margin: 10px;
    height: 30px;
}